* {
    background-color: #EDF5E1;
    margin: 0% auto;
    box-sizing: border-box;
}
.contact-title{
    color: #379683;
    margin-left: 5%;
    font-size: 2rem;
}

.contact{
    width: 80%;
    height: 80vh;
    background-color: #fff;
    justify-content: space-around;
}

.contact-form{
    display: flex;
    display: inline-block;
    
}