@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* navbar style */

body{
    width: 100%;
    background: #EDF5E1;
}
.nav{
    display: flex;
    width: 100%;
    height: 140px;
    position: fixed;
    top: 0;
    z-index: 5;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    height: 90px;
}

.navbar .logo{
    display: flex;
    justify-content: center;
    width: 20%;
    height: auto;
    align-items: center;
    padding: 0 50px;
}

.navbar .logo img{
    width: 100%;
    height: 180px;
    padding-top: 20px;
    cursor: pointer;
}

.navbar .logo img:hover{
    transform: scale(1.1);
    transition: 1s ease all;
}

.navbar .link-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .link-container .links{
    width: 80%;
}

.navbar .link-container .link{
    display: flex;
    justify-content: space-between;
}

.navbar .link-container .link li{
    list-style: none;
}

.navbar .link-container .link a{
    color: #05386B;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar .link-container .link a:hover{
    text-decoration: underline;
}

.navbar .social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: auto;
    padding-right: 50px;
}

.navbar .social img{
    width: 30px;
    height: 30px;
}

.navbar .social img:hover{
    transform: scale(1.1);
    transition: 1s ease all;
}

/* inicio style */

.contenedor {
    display: inline-grid;
    justify-content: space-around;
    width: 80%;
    height: 400px;
    position: absolute;
    top: 35%;
    left: 10%;
}

.inicio .contenedor .inicio-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 38%;
    height: 100px;
    
}

.inicio .contenedor .inicio-container .titles{
    display: block;
    justify-content: space-around;
}

.inicio .contenedor .inicio-container .titles h1{
    color: #05386B;
    font-size: 40px;
}



.inicio .contenedor .inicio-container .titles p{
    justify-content: left;
    color: white;
    font-size: 28px;
    margin-top: 10px;
    font-weight: 300;
}


.inicio .carousel {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 90vh;
}

.inicio .carousel .carousel-item,
.inicio .carousel .carousel-item-hidden{
    display: none;
}

.inicio .carousel .carousel-item img{
   width: 100%;
   
}

.inicio .carousel .carousel-item-visible{
    display: block;
    animation: fadeVisibility 0.5s;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: opacity linear;
    }
}

.inicio .carousel .carousel-actions{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.inicio .carousel .carousel-actions button{
  border: 0;
  cursor: pointer;
  height: 80px;
  width: 40px;
  font-size: 60px;
  color: white;
  opacity: 0.5;
  background-color: rgba(14, 8, 8,0.5);
}

.inicio .carousel .carousel-actions button{
    margin: 0 20px;
}

.inicio .carousel .carousel-actions button#carousel-button-prev{
    margin-left: 20px;
}
.inicio .carousel .carousel-actions button#carousel-button-next{
  margin-right: 20px;
}


.inicio .contenedor .boton {
    height: 80px;
}

.inicio .contenedor .boton button {
    height: 50px;
    width: 10%;
    background: #05386B;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 300;
    cursor: pointer;
    font-size: 17px;
}

.inicio .contenedor .boton button:hover{
    background: white;
    color: #05386B;
    border: 2px solid #05386B;
    
}

/* problematica style */

.problematica{
    width: 100%;
    height: 100vh;
    display: flex;
}

.problematica .contenedor-problematica .titulo-cabecera{
    width: 95%;
    height: 20%;
    margin: 0 auto;
    text-align: center;
}

.problematica .contenedor-problematica .titulo-cabecera h2{
    margin: 30px 0;
    text-transform: uppercase;
    color: #05386B;
    font-size: 33px;

}

.problematica .contenedor-problematica .titulo-cabecera p{

    color: #379683;
    font-weight: bold;
    font-size: 25px;
}

.problematica .contenedor-problematica .cards{
    display: flex;
    justify-content: space-evenly;
}

.problematica .contenedor-problematica .cards .card{
    width: 30%;
}

.problematica .contenedor-problematica .cards .card img{
    width: 100%;
    height: 250px;
}

.problematica .contenedor-problematica .cards .card h3{
    color: #05386B;
    margin: 10px 0;
    text-transform: uppercase;
    text-align: center;
}

.problematica .contenedor-problematica .cards .card p{
    text-align: justify;
    color: #379683;
}




/* -------------------------------------------------------------------------- */
/*                                  Contacto                                  */
/* -------------------------------------------------------------------------- */
/* * {
    background-color: #EDF5E1;
    margin: 0% auto;
    box-sizing: border-box;
} */
.contact-title{
    padding: 3% 0 3% 5%;
    color: #379683;
    font-size: 3rem;
}

.contact-container{
    width: 100%;
    height: 70vh;
    background-color: #fff;
    justify-content: space-around;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.contact-container img{
    width: 30%;
    object-fit: contain;
}

input {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    margin: 2%;
    border-color: #5CDB95;
    width: 30vw;
    align-items: center;
}
.contact-form{
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.contact-menssage{
    padding-bottom: 20%;
}
.contact-btn{
    width: 13%;
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    text-align: center;
}



/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
.footer {
    width: 100%;
    height: 10vh;
    background-color: #5CDB95;
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: 3%;
}
.foot {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    text-align: center;
    align-items: center;
}

.twelve a {
    text-decoration: none;
    color: #545555;
<<<<<<< HEAD
}

/* -------------------------------------------------------------------------- */
/*                                   Datos                               */
/* -------------------------------------------------------------------------- */

.conteiner-header{
    display: flex;
    height: 90.7vh;
    background-color: #205374;
   }

.info-header{
    display: flex;
    width: 50%;
    height: 90.7vh;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    background-color: #05386B;
}

.info-main{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #05386B;
    justify-content: space-around;
    align-items: center;
}

.info{
    display: flex;
    width: 30%;
    height: 80%;
    background-color: #05386B;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;

}

.img-peste-negra{
    width: 90%;
    height: 40%;
    margin-top: 10%;
}

.info p{
    margin-top: 5%;
    font-weight: 500;
}


.img-viruela{
    width: 90%;
    height: 40%;
    margin-top: 5%;
}

.img-gripe-espa単ola{
    width: 90%;
    height: 40%;
    
}

.info h2{
    margin-top: 4%;
    letter-spacing: 2px;
}

.conteiner-covid{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.title-covid{
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #05386B;
    font-size: 1.4rem;
    transition-duration: 2s;
    transition-property: color;
    transition-timing-function: ease-in;
    
}

.title-covid h3:hover{
    color: rgba(224, 177, 22, 0.74);
    }
    


.info-desempleo{
    display: flex;
    width: 100%;
    height: 90vh;
    background-color:#05386B;
    justify-content: space-around;
    
}

.info-1{
    display: flex;
    align-items: center;
    width: 45%;
    flex-direction: column;
    background-color:#05386B;
    border: 3px solid black;
    border-radius: 5px;
}

.img-info-1 {
    width: 35%;
    margin-top: 3%;
    transition-duration: 2s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.info-1 p{
    margin-top: 5%;
    font-size: 1.8rem;
    transition-duration: 1.3s;
    transition-property: color;
    transition-timing-function: ease-in;
}

.info-1 p:hover{
    color: #ffb703;
}


.img-info-2{
    width: 30%;
    margin-top: 3%;
    transition-duration: 2s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.title-pandemia {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #05386B ;
    color: black ;
    justify-content: center;
    align-items: center;
    transition-duration: 1.5s;
    transition-property: color;
    transition-timing-function: ease-in;    
}

.img-info-1:hover{
    transform: scale(1.5)
}

.img-info-2:hover{
    transform: scale(1.5)
}

.title-pandemia:hover{
    color: #ffb703;
}

.rese単a-pandemia{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color:#05386B ;
}

.title-info:hover{
    color: #ffb703;
    transform: scale(1.6);
}

.title-info{
    transition-duration: 1.5s;
    transition-property: color, transform;
    transition-timing-function: cubic-bezier(0,-1.74,1,1.84);
}



.title-rese単a{
    transition-duration: 1.5s;
    transition-property: color, transform;
    transition-timing-function: cubic-bezier(0,-1.74,1,1.84);
}

.title-rese単a:hover{
    color: #ffb703;
}

.title-covid-1:hover{
 transform: scale(1.5);
 color: #ffb703;
}

.title-covid-1{
    transition-duration: 1.5s;
    transition-property: color, transform;
    transition-timing-function: cubic-bezier(0,-1.74,1,1.84);
}
=======
    font-size: 1.3rem;
    font-weight: 600;
}

.redes {
    font-size: 2rem;
    color: #545555;
    width: 20%;
}

.redes i{
    color: #545555;
}
.redes a{
    padding: 1%;
}

/* -------------------------------------------------------------------------- */
/*                                 Responsive                                 */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 700px) {
    .contact-container{
        display: grid;
    }
    #img-contact{
        width:100%;
    }
    .contact-form{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        align-items: center;
        width:100%;
    }
    .contact-form input{
        width: 100%;
    }
    .contact-btn{
        width: 20%;
        justify-content: center;
    }
    .submit{
        width: 20%;
    }

    .redes{
        width: 30%;
    }
>>>>>>> f5a6c1757814cdfb39515d6a87859c9288f9a99b
